<!DOCTYPE html>
<html lang="en">


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>

<body ng-app="myapp">

<div ng-controller="MyController">

    <button ng-click="myData.regClick(item, $event)">Register a user</button>



    <br/>
    <button ng-click="myData.logClick(item, $event)">Login</button>

    <br/>
    <label class="item item-input">
        <span class="input-label">user</span>
        <input type="text" ng-model="myData.username">
    </label>
    <br/>
    <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="text" ng-model="myData.password">
    </label>
    <br/>
    <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="myData.email">
    </label>
    <br/>
    <button ng-click="myData.tokClick(item, $event)">Get signed in user info</button>
    <br/>
    <button ng-click="myData.tokusrClick(item, $event)">Get all users</button>
    <br/>

    <div id="" style="overflow-y: scroll; height:100px;">
        <div ng-repeat="i in myData.users"></item>
            {{i}}
        </div>
    </div>
    <button ng-click="myData.createPost(item, $event)">Create a Post</button>
    <br/>
    <button ng-click="myData.createBoard(item, $event)">Create a Board</button>
    <br/>
    <button ng-click="myData.getMyBoard(item, $event)">Get My Board</button>
    <br/>
    <button ng-click="myData.getAllMyBoards(item, $event)">Get all of My Boards</button>
    <br/>
    <button ng-click="myData.getUserWithID(item, $event)">Get current user from user id</button>
    <br/>
    <button ng-click="myData.addFriend(item, $event)">Add Friend</button>
    <br/>
    <button ng-click="myData.updateEmail(item, $event)">Update Email</button>
    <br/>
    <button ng-click="myData.deleteUser(item, $event)">Delete user</button>
    <br/>
    <br/>
    <button ng-click="myData.test(item, $event)">test</button>
    <br/>

    <label class="item item-input">
        <span class="input-label">Id to delete</span>
        <input type="text" ng-model="myData.idToDelete">
    </label>
    <br/>
    <br/>
    <button ng-click="myData.regDevice(item, $event)">Reg Device</button>
    <br/>
    <button ng-click="myData.delDevice(item, $event)">Del Device</button>
    <br/>
    <center>

        <strong>Friend id: {{myData.friendid}}</strong><br/>
        <strong>Press 'get all users' first to set a friend id to add</strong><br/>
        <strong>Refresh Often</strong>
        <br/>
    </center>


    <label class="item item-input">
        <span class="input-label">user</span>
        <input type="text" ng-model="test">
    </label>
    <br/>
    <button ng-click="myData.test(item, $event)">test</button>
    <br/>



</div>
<script src="controller.js"></script>



</body>

</html>
